@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap");
:root {
  --color-primary-100: #6f737f;
  --color-primary-200: #3b4050;
  --color-primary-300: #2e323f;
  --color-secondary: #a59678;
  --color-neutral: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

body {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

nav ul li {
  font-size: 1.125em;
}

.hero h1 {
  font-size: 2.1875em;
}
.hero p,
.hero button {
  font-size: 1.25em;
}
.hero p {
  line-height: 1.4em;
}
.hero button {
  text-transform: uppercase;
  font-weight: bold;
}

article h2 {
  font-size: 1.625em;
}
article p {
  font-size: 1.125em;
}

.features-item h2,
.aside-item h2 {
  font-size: 1.5em;
}
.features-item p,
.aside-item p {
  font-size: 1.125em;
}

footer h2 {
  font-size: 1.5em;
}
footer h3 {
  font-size: 1.3125em;
}
footer p,
footer li {
  font-size: 1em;
}
footer li {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: var(--color-primary-300);
  padding: 1em 0;
}
header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
header .container .navbar-toggler {
  position: absolute;
  left: 0;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 2rem;
}

nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.hero {
  background-color: var(--color-primary-200);
  padding: 1em 0;
  color: white;
}
.hero button {
  margin: 1em 0;
  padding: 0.5em 1.5em;
  border-radius: 50em;
  border: none;
  background-color: var(--color-secondary);
  color: white;
}

.hero-span {
  color: var(--color-secondary);
}

.features {
  padding: 1em 0;
  background-color: #e8e9eb;
}
.features .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features-item {
  text-align: center;
}
.features-item h2 {
  color: var(--color-secondary);
}

.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

article h2 {
  color: var(--color-secondary);
}

.aside-item {
  background-color: var(--color-primary-200);
  color: white;
  text-align: center;
  padding: 1em;
  margin: 1em 0;
}

footer {
  background-color: var(--color-primary-200);
  padding: 1em 0;
}
footer h2 {
  color: white;
  text-align: center;
}
footer h3 {
  color: var(--color-secondary);
}
footer p,
footer li {
  color: white;
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  text-transform: capitalize;
  margin: 1em 0;
}