@use 'root' as *;
@use 'reset' as *;
@use 'mixins' as *;
@use 'typography' as *;
@use 'colors' as *;

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn-primary {
  margin: 1em 0;
  padding: 0.5em 1.5em;
  border-radius: 50em;
  border: none;
  background-color: var(--color-secondary);
  color: white;
}

header {
  background-color: var(--color-primary-300);
  padding: 1em 0;

  .container {
    @include flex-box();
    position: relative;

    .navbar-toggler {
      position: absolute;
      left: 0;
      cursor: pointer;
      border: 0;
      background-color: transparent;
      color: white;
      font-size: 2rem;
    }
  }
}

nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.hero {
  background-color: var(--color-primary-200);
  padding: 1em 0;
  color: white;
}

.hero-span {
  color: var(--color-secondary);
}

.features {
  $primary: map-get($colors, 'primary');
  $bg-color: map-get($primary, 100);
  padding: 1em 0;
  background-color: lighten($bg-color, $amount: 45%);

  .container {
    @include flex-box(column, center);
  }
}

.features-item {
  text-align: center;
  h2 {
    color: var(--color-secondary);
  }
}

.main-body {
  @include flex-box(column, center);
}

article {
  h2 {
    color: var(--color-secondary);
  }
}

.aside-item {
  background-color: var(--color-primary-200);
  color: white;
  text-align: center;
  padding: 1em;
  margin: 1em 0;
}

footer {
  background-color: var(--color-primary-200);
  padding: 1em 0;

  h2 {
    color: white;
    text-align: center;
  }

  h3 {
    color: var(--color-secondary);
  }

  p,
  li {
    color: white;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      text-transform: capitalize;
      margin: 1em 0;
    }
  }
}

@media (min-width: 700px) {
  .footer-item-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .footer-item {
      width: 50%;
    }
  }
}

@media (min-width: 1000px) {
  header .container {
    @include flex-box($space: space-between);
    flex-grow: 1;
  }
  .navbar-toggler {
    display: none;
  }
  nav {
    width: 70%;
    position: static;
    visibility: visible;
    @include flex-box($space: flex-end);
    gap: 3em;
    ul {
      display: flex;
      align-items: center;
      gap: 2em;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        color: white;
        text-transform: uppercase;
        margin: 1em 0;
      }
    }
  }
}
